@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/background_image.jpeg);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.main{
    background-color: rgba(179, 156, 156, 0.699);
    height: 640px;
    backdrop-filter: blur(5px);
    
    width: 400px;
    
    border-radius: 25px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 65px;
    
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.links{
    display: flex;
    flex-direction: column;
    gap:10px;
    
}
.links > a{
    text-align: center;
    background-color: rgb(204, 194, 194);
    text-decoration: none;
    color: rgb(240, 143, 8);
    border-radius: 5px;
    border: 1px solid black;
    font-size: 20px;
    padding: 10px 50px;
    font-family: 'Poppins';
    transition:transform 0.2s ease-in;
}
.links > a:hover{
    transform: scale(1.02);
    color:rgb(204, 194, 194);
    background-color:rgb(240, 143, 8) ;
    box-shadow: 0.5px 2px 1px 2px black;
}
.profile >h2,p{
    color: rgb(186, 224, 34);
    font-family: 'Poppins';
    font-weight: 700;
}
.profile >p{
    color: rgb(241, 237, 19);
    font-weight: 400;
    font-size: 20px;
}
.profile >h2{
    font-size: 26px;
}




.project-container{
    padding: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
}
.box >img{
    width: 350px;


}
